/* Corpo & Escopo (Definição de variaveis e tema) */

:root {
    --bk-color: #272727;
    --txt-color: #ffffff;
    --txt-second-color: #ffffff;
    --subtitle-color: #afafaf;
    --paragraph-color: #818181;
    --footer-color: #a1a1a1;
    --padding-def: 0 100px;
}

[data-theme="light"] {
    --bk-color: #ffffff;
    --txt-color: #7a59bd;
    --subtitle-color: #966de8d5;
    --paragraph-color: #966de8da;
    --footer-color: #272727;
    --txt-second-color: #966de8;
}

body {
    background-color: var(--bk-color);
    color: var(--txt-color);
    transition: background-color 0.3s, color 0.4s;
}

i {
    color: var(--txt-second-color);
}

/* Container Header (Conteudo do topo da página) */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-def);
    height: 11.11dvh;
}

.app_ctn_logo object {
    width: fit-content;
    height: 5dvh;
}

/* Container Main (Conteudo principal da página) */

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    grid-template-areas:
        "app_ctn_m_image app_ctn_m_description_tasks"
        "app_ctn_m_new_task_btn app_ctn_m_new_task_btn";
    height: calc((100dvh - 11.11dvh) - 8dvh);
    padding: var(--padding-def);
}


.app_ctn_m_image {
    align-self: center;
    grid-area: app_ctn_m_image;
}

.app_ctn_m_description_tasks {
    display: flex;
    gap: 0.8rem;
    align-items: self-end;
    flex-direction: column;
    align-self: center;
    grid-area: app_ctn_m_description_tasks;
    font-weight: 400;
    font-size: 22pt;
    letter-spacing: 1px;
}

.app_ctn_m_description_tasks h1 {
    width: 80%;
    font-size: 32pt;
    font-weight: 700;
    letter-spacing: 2px;
}

.app_ctn_m_description_tasks h1 span {
    color: white;
    background-color: #966de8 !important;
    border-radius: 5px;
    padding: 5px;
}

.app_ctn_m_description_tasks h2 {
    color: var(--subtitle-color);
    width: 80%;
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 0.1px;
}

.app_ctn_m_description_tasks p {
    color: var(--paragraph-color);
    font-weight: 300;
    font-size: 12pt;
    letter-spacing: 2px;
    width: 80%;
}

.app_ctn_m_image svg {
    width: fit-content;
    height: 500px;
}

.app_ctn_m_new_task_btn {
    width: auto;
    justify-self: end;
    grid-area: app_ctn_m_new_task_btn;
}

.app_ctn_m_new_task_btn button {
    color: var(--txt-second-color) !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14pt;
}

.app_ctn_m_new_task_btn button>i {
    font-size: 24pt;
}

/* Container Footer (Conteudo do rodapé da página) */

footer {
    color: var(--footer-color);
    display: flex;
    align-items: center;
    gap: 0.1rem;
    flex-direction: column;
    justify-content: center;
    font-size: 11pt;
    font-weight: 400;
    width: 100%;
    height: 8dvh;
}

footer a {
    font-weight: 600;
}

/* Menu New Task */

.overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 27%, 0.897);
    width: 100%;
    height: 100%;
    transition-behavior: allow-discrete;
    transition: display 0.4s ease;
}


.card_new_task {
    color: #966de8;
    padding: 10px;
    position: absolute;
    width: 28dvw;
    height: 66dvh;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.card_new_task_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_new_task_options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card_new_task_inputs {
    /*Estilos dos inputs*/
}

.card_new_task_btn_create {
    width: 100%;
    height: 5.5dvh;
    border-radius: 10px;
    text-align: center;
    background-color: #966de8;
    color: white;
    margin-bottom: 10px;
}

.card_new_task i {
    position: relative;
    padding: 5px;
    font-size: 14pt;
    color: #272727;
}